body {
  letter-spacing: 0.2em;
  font-size: 0.8em;
  background-color: #e6ecf6;
  background-image: url(./original.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
}
h1 {
  font-weight: 400;
  color: rgb(240, 228, 228);
}
input {
  border-radius: 15px;
  border: none;
  width: 390px;
  background-color: rgb(235, 232, 232);
}
.container {
  width: 400px;
  margin: 30px auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 7px 10px rgb(95, 91, 78);
  border-radius: 0 0 20px 20px;
}
.d-none {
  display: none;
}
.icon {
  /* margin-top: -150px; */
  position: absolute;
  top: 245px;
  background-color: white;
  border-radius: 50px;
  z-index: 1;
}
.info {
  height: 160px;
  width: 414px;
  padding-top: 30px;
  position: absolute;
  top: 310px;
  background-color: white;
}
.info span {
  font-size: 45px;
  font-weight: 100;
}
.radius {
  border-radius: 20px 20px 0 0;
}
